.forget_inside {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .forget_form{
    text-align: center;
    padding: 0 10px 0 30px;
    border: 1px solid #426B1F;
    border-radius: 7px;
    margin: 20vh;
  }
  .forget_form_input {
    display: flex;   
    text-align: start;      
    flex-direction: column;  
    gap: 20px;               
  }

  .forget_form_input input {
    width: 30vw;           
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .forget_under{
    margin: 60px;
    align-items: center;
    gap: 60px;
  }
  .forget_form_button {
    background-color: #426B1F;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 157px;
    height: 35px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: Newsreader, serif;
  }
  .forget_form_button:hover {
    background-color: #2E4D14;
  }
  .forget_under h5{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: Newsreader, serif;
  }
  .forget_under{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: Newsreader, serif;
    
  }
  .forget_under a{
    text-decoration: none;
    color: #426B1F;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: Newsreader, serif;
  }
  .forget_under a:hover{
    color: #2E4D14;
  }
  .forget_form_checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin: 30px;
  }